//COLORS//
$bg: rgb(8, 24, 23);
$bg-action: #323232;

//FONTSIZE//
$fs-h1: calc(0.5em + 3vw);
$fs-h2: calc(0.5em + 1.5vw);
$fs-h3: calc(0.5em + 1vw);
$fs-p: calc(0.5em + 0.7vw);
$fs-nav: calc(0.5em + 1vw);
