@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Dancing+Script&family=Poppins&display=swap");

footer {
  width: 100%;
  text-align: center;
  background-color: rgb(102, 6, 6);

  a {
    text-decoration: none;
    color: antiquewhite;
    font-family: Poppins;
  }
  .social-media {
    display: flex;
    margin: auto;
    gap: 3rem;
    justify-content: center;
  }

  li {
    list-style: none;
  }

  span {
    color: #faebd7;
    bottom: 0;
    text-align: center;
  }
}
