@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.card_container {
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  margin: 0 auto;
  animation: translateRightToLeft 0.8s;
  animation-fill-mode: forwards;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  text-align: center;
  background: linear-gradient(to bottom, #051c36 0%, #0a3b60 100%); /* W3C */

  --primary: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  --font: "Roboto", sans-serif;
  --font-size-h2: 1.25rem;
  --small-font-size: 0.813rem;

  @keyframes translateRightToLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .scroll_container {
    height: 200vh;

    .card_article {
      position: absolute;
      overflow: hidden;
      top: 12%;
      left: 42%;

      .card_img {
        width: 20rem;
        height: 27rem;
        border-radius: 1.5rem;
      }

      .card_data {
        width: 280px;
        background: var(--container-color);
        padding: 1.5rem 2rem;
        box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
        border-radius: 1rem;
        position: absolute;
        left: 0;
        right: 0;
        margin-inline: auto;
        bottom: -9rem;
        opacity: 0;
        transition: opacity 5s 1s;

        .card_description {
          display: block;
          font-size: var(--small-font-size);
          margin-bottom: 0.25rem;
        }

        .card_title {
          font-size: var(--font-size-h2);
          font-weight: 500;
          color: var(--title-color);
          margin-bottom: 0.75rem;
        }

        .card_button {
          text-decoration: none;
          font-size: var(--small-font-size);
          font-weight: 500;
          color: var(--primary);

          &:hover {
            text-decoration: underline;
          }
        }
      }

      /** Animation au hover*/
      &:hover .card_data {
        animation: show-data 1s forwards;
        opacity: 1;
        transition: opacity 0.3s;
      }

      &:hover {
        animation: remove-overflow 2s forwards;
      }
      &:not(:hover) {
        animation: show-overflow 2s forwards;
      }
      &:not(:hover) .card_data {
        animation: remove-data 1s forwards;
      }
      /** animation avec la keyframe de la card*/
      @keyframes show-data {
        50% {
          transform: translateY(-10rem);
        }
        100% {
          transform: translateY(-7rem);
        }
      }

      @keyframes remove-overflow {
        to {
          overflow: initial;
        }
      }

      @keyframes remove-data {
        0% {
          transform: translateY(-7rem);
        }
        50% {
          transform: translateY(-10rem);
        }
        100% {
          transform: translateY(0.5rem);
        }
      }

      @keyframes show-overflow {
        0% {
          overflow: initial;
          pointer-events: none;
        }
        50% {
          overflow: hidden;
        }
      }
    }
  }
}
